.flexContainer {
  background: url(./DcydbI.jpg) center center/cover no-repeat;
  position: relative;
  height: 100vh;
}

.flexContainer .content{
    display:flex;
    flex-wrap: wrap;
    height: 100%;
}

.posts {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  display: flex;
  justify-content: space-around;
}
.posts p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.comment-box {
  justify-self: flex-start;
  display: flex;
  align-self: start;
  border: green solid 2px;
  width: 580px;
  margin: 30px auto 20px auto;
  background: #fff;
  /* padding: 15px; */
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.myButton {
  background: #f5ba13;
  color: black;
  border: green solid 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.createForm {
  justify-content: center;
  display: flex;
  border: green solid 2px;
  width: 580px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.createForm input,
.createForm textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  resize: none;
}

.indexH1,
.indexH2 {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: auto;
}

.welcome {
  background: url(../../components/Welcome/schoolbus.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100vh;
}
