@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";

* {
  box-sizing: border-box;
  color: black;
}

.welcome-container {
  padding-top: 50px;
  background-color: #1daafc;
  height: 130vh;
}
.commentFormName {
  margin-top: 15px;
}

.welcome-info {
  text-align: center;
}

.top-container {
  padding-top: 20px;
  padding-bottom: 10px;
}
.form-text {
  text-align: left;
}

.main-title {
  font-family: 'Architects Daughter', cursive;
  font-size: 70px;
  color: white;
}

.sub-title {
  font-family: 'Architects Daughter', cursive;
  font-size: 45px;
  color: white;
}

.welcome-button {
  text-align: center;
  margin-right: 8px;
  margin-left: 8px;
  font-family: 'Architects Daughter', cursive;
  border-radius: 25px;
  width: 100px;
  height: 40px;
}

.welcome-button:hover {
  background-color: #f1b34b;
}

.busGif {
  width: 100%;
  height: auto;
}

.navmenu {
  background-color: #1daafc;
  color: white;
  font-size: 24px;
  font-family: 'Architects Daughter', cursive;
}

.welcome-button:hover {
  background-color: #f1b34b;
}

.announcementPage{
  background: url(./components/Welcome/DcydbI.jpg) green center center/cover no-repeat;
  position: relative;
  height: 100vh;
 
}

.announcementForm input,
.announcementForm textarea {
  width: 100%;
  background: #fff;
  padding: 15px;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  resize: none;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.announcementH1,
.announcementH3 {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: auto;}

  .navTitle {
  font-size: 30px;
  text-align: left;
}

.detailPost  { 
/* width: 360px; */
border-style: double;
border-color: white;
background-color: #1daafc;
color: white;
font-size: 15px;
font-family: 'Architects Daughter', cursive;
padding: 20px;
margin-top: 20px;
margin-bottom: 8px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 25px;
}


.commentForm {
border-style: double;
border-color: white;
background-color: #1daafc;
padding: 20px;
margin-top: 20px;
margin-bottom: 8px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 25px;
}

.detailText {
  color: white;
  padding-right: 10px;
  padding-left: 5px;
}

.detailPostUsername {
  text-align: left;
}

.detailPostDate {
  /* text-align: right; */
  font-size: 14px;
}

hr {
  border-top: 1px solid white;

}

.detail-container {
padding-top: 50px;
background-color: #1daafc;
color: white;
min-height: 100vh;
height: 100%;
}

.content-title {
font-family: 'Architects Daughter', cursive;
font-size: 60px;
max-width: 500px;
color: white;
text-align: center;
}

.content-details {
  width: 360px;
}

/* max-width: 600px;

  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
  color: white;
} */

.content-text {
font-family: 'Architects Daughter', cursive;
width: 360px;
font-size: 20px;
color: white;
border-style: double;
border-color: white;
padding-top: 10px;
margin-bottom: 8px;
padding-bottom: 10px;
padding-left: 5px;
padding-right: 5px;
border-radius: 25px
}

.commentButton {
  border-radius: 25px;
  font-family: 'Architects Daughter', cursive;
}

.commentButton:hover {
  background-color: #f1b34b;
}

.commentLabel {
  font-family: 'Architects Daughter', cursive;
  color: white;
}

.return-to-announcements {
  border-radius: 25px;
  background-color: #1daafc;
  color: white;
  font-family: 'Architects Daughter', cursive;
}

.return-to-announcements:hover {
  background-color: #f1b34b;
}