@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";

* {
  box-sizing: border-box;
  color: black;
}

.AddEventForm {
  max-width: 300px;
  border-style: solid;
  border-color: darkorange;
  background-color: #fcc959;
  text-align: center;
  margin-bottom: 8px;
}

.calendar {
  background-color: #749877;
  border-style: solid;
  border-color: tan;
  border-width: 5px;
  font-family: "Architects Daughter", cursive;
}

.calendarPage {
  background-color: lightblue;
}

.td {
  background-color: #749877;
}

