@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";


.addEventForm {
  max-width: 350px;
  border-style: double;
  border-color: white;
  background-color: #1daafc;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
}

.addeventrow {
  text-align: center;
}

.addEventButton {
  border-radius: 25px;
  font-family: 'Architects Daughter', cursive;
  margin-bottom: 10px;
}

.eventButton {
  margin-left: 5px;
  margin-right: 5px;
}

.addEventButton:hover {
  background-color: #f1b34b;
}

.deleteEventButton {
  border-radius: 25px;
  font-family: 'Architects Daughter', cursive;
}

.deleteEventButton:hover {
  background-color: #f1b34b;
}

.deleteEventButton:focus {     
  background-color:#f1b34b;
}

/* .leftButton {
  text-align: left;
}

.rightButton {
  text-align: right;
} */

.calendar {
  background-color: #749877;
  font-family: 'Architects Daughter', cursive;
  padding: 10px;
}

.calendarPage {
  background-color: #1daafc;
}

.td {
  background-color: #749877;
}

.eventLabel {
  color: white;
  font-family: 'Architects Daughter', cursive;
}