/* Chinami */
/* .body {
    background-color: #1daafc;
  } */

.containerPerformance {
  max-height: 200%;
  font-family: "Architects Daughter", cursive;
  background-color: #1daafc;
  margin-bottom: 0;
  height: 735px;

}

/* ul {
  list-style: none;
  margin-bottom: 0;
} */
.titleP {
  padding-top: 20px;
}
.h1P {
  font-family: "Architects Daughter", cursive;
  font-size: 30px;
  font-weight: 400;
  color: white;
}

.h2P,
.h3P {
  font-family: "Architects Daughter", cursive;
  color: #2b546a;
  font-weight: 300;
}

.h2P {
  font-size: 20px;
  margin-top: 8px;
}

.h3P {
  font-size: 15px;
  border-bottom: 1px solid #e1e6ec;
  line-height: 64px;
  margin-bottom: 40px;
}


/* .main {
    max-width: 1040px;
    margin: 0 auto;
    margin-top: -100px;
    padding: 96px 0;
  } */


  
  

.table {
  background-color: white;
  border-radius: 3px;
  border-color: none;
}
.addEventButton {
  border-radius: 25px;
  font-family: "Architects Daughter", cursive;
  margin-top: 20px;
  cursor: pointer;
}
.addEventButtonRemove {
  border-radius: 25px;
  font-family: "Architects Daughter", cursive;
  cursor: pointer;
}

.addEventButton:hover {
  background-color: #f1b34b;
  cursor: pointer;
}
.addEventButtonRemove:hover {
  background-color: #f1b34b;
  cursor: pointer;
}

/* .btn btn-info {
    background-color: #f1b34b;
  }
  .btnEmoji btn-info:hover{
    background-color: #f1b34b;
  }  */
