/* Chinami */
/* .body {
    background-color: #1daafc;
  } */

.containerPerformance {
  max-height: 200%;
  font-family: "Architects Daughter", cursive;
  background-color: #1daafc;
  margin-bottom: 0;
  height: 735px;

}

/* ul {
  list-style: none;
  margin-bottom: 0;
} */
.titleP {
  padding-top: 20px;
}
.h1P {
  font-family: "Architects Daughter", cursive;
  font-size: 30px;
  font-weight: 400;
  color: white;
}

.h2P,
.h3P {
  font-family: "Architects Daughter", cursive;
  color: #2b546a;
  font-weight: 300;
}

.h2P {
  font-size: 20px;
  margin-top: 8px;
}

.h3P {
  font-size: 15px;
  border-bottom: 1px solid #e1e6ec;
  line-height: 64px;
  margin-bottom: 40px;
}


/* .main {
    max-width: 1040px;
    margin: 0 auto;
    margin-top: -100px;
    padding: 96px 0;
  } */


  
  .modal-inner {
    position: absolute;
    top: 8%;
    right: 0;
    left: 0;
    width: 480px;
    padding-bottom: 60px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
  }
  
  .modal-header {
    height: 8px;
    width: 100%;
    margin-bottom: 60px;
    border-radius: 8px 8px 0 0;
    background-image: url("https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/react/modal_bar.svg");
  }
  
  .modal-introduction p {
    color: #5876a3;
    width: 384px;
    line-height: 32px;
    text-align: left;
    margin: 36px auto 40px;
  }
  
  .modal-close-btn {
    font-size: 13px;
    color: #8491a5;
    width: 200px;
    padding: 16px 0;
    border: 0;
    background-color: #f0f4f9;
    cursor: pointer;
  }
  
  .modal-close-btn:hover {
    color: #8491a5;
    background-color: #ccd9ea;
    transition: 0.3s ease-in-out;
  }
  
  .contact-container {
    margin-top: 50px;
  }
  
  .contact-form p {
    color: #8491a5;
    margin-top: 32px;
    margin-bottom: 8px;
  }
  
  .contact-form p.contact-message-error {
    color: #ff4d75;
    margin-top: 8px;
  }
  
  .contact-form input,
  .contact-form textarea {
    box-sizing: border-box;
    background-color: #fff;
    color: #8491a5;
    width: 440px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #bac6d3;
    border-radius: 3px;
    display: block;
  }
  
  .contact-form input {
    height: 48px;
  }
  
  .contact-form textarea {
    height: 184px;
  }
  
  .contact-form input[type="submit"] {
    color: #fff;
    width: 184px;
    height: 48px;
    font-size: 13px;
    background-color: #30c8d6;
    border: none;
    margin-top: 32px;
  }
  
  .contact-form input[type="submit"]:hover {
    cursor: pointer;
  }
  
  .contact-submit-message {
    box-sizing: border-box;
    color: #16a48a;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(48, 214, 184, 0.16);
    border: 2px solid #30d6b8;
    border-radius: 3px;
  }
  

.table {
  background-color: white;
  border-radius: 3px;
  border-color: none;
}
.addEventButton {
  border-radius: 25px;
  font-family: "Architects Daughter", cursive;
  margin-top: 20px;
  cursor: pointer;
}
.addEventButtonRemove {
  border-radius: 25px;
  font-family: "Architects Daughter", cursive;
  cursor: pointer;
}

.addEventButton:hover {
  background-color: #f1b34b;
  cursor: pointer;
}
.addEventButtonRemove:hover {
  background-color: #f1b34b;
  cursor: pointer;
}

/* .btn btn-info {
    background-color: #f1b34b;
  }
  .btnEmoji btn-info:hover{
    background-color: #f1b34b;
  }  */
